@import "src/styles/breakpoints.scss";
@import "src/styles/colors.scss";
@import "src/styles/typography.scss";

$dot-size: 1.2rem;

.about-container {
  @media #{$mq-md} {
    padding: 5rem 0;
    margin-top: 0vh;
  }
  @media #{$mq-lg} {
    padding: 2rem 0;
  }
  flex-direction: column;
  display: flex;
  justify-content: left;
  margin-top: 5vh;
  overflow-x: hidden;
}

.about-container .contentWrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.headerTextWrapper {
  @media #{$mq-sm} {
    align-items: flex-start;
    padding: 3rem 0;
  }
  @media #{$mq-lg} {
    padding: 5rem 0
  }
  display: flex;
  flex-direction: column;
  margin: 5vh 0;
}

.titleText {
  @extend %h1-reg;
  text-align: left;
  color: $black;
}

.primaryBtn {
  @extend %link;
  font-weight: 600;
  background: $black;
  color: $gray-100;
  border-radius: 4px;
  padding: .6rem 1rem;
  box-shadow: none;
  border: 1px solid $gray-900;
  transition: all 0.15s ease-in-out; 
  &:hover, &:active {
    cursor: pointer;
    background: $gray-900;
  }
}

h4 {
  @extend %body-lg;
  margin: .5rem 0;
}

.featured {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;

  img {
    width: 100%;
    margin-bottom: .5rem;
  }
}


.about-container .bodyText {
  @extend %body-lg;
  @media #{$mq-md} {
    margin: -0.5rem 0 1.5rem 0;
  }
  margin: 0 0 1rem 0;
}

.about-doubleColumn {
  @media #{$mq-md} {
    flex-direction: row;
  }
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 2rem 0; 

  img {
    @media #{$mq-md} {
      width: 50%;
      object-fit: contain;
    }
    width: 100%;
  }
  .bodyTextWrapper {
    @media #{$mq-md} {
      width: 50%;
      padding-right: 2rem;
    }
    width: 100%;
  }
}

.timeline-container {
  @media #{$mq-md} {
    min-height: 40vh;
    padding: .5rem 2rem;
  }
  min-height: 50vh;
  background: $gray-900;
  width: 100%;
  padding: 1rem;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: 2rem;
}  


.tabMenu {
  @media #{$mq-md} {
    display: flex;
    flex-direction: row;
    margin: 1rem .5rem;
  }
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  
  p {
    @media #{$mq-md} {
      margin-bottom: 1rem;
      margin-right: 1.5rem;
    }
    
    @extend %body-lg;
    color: $gray-700;
    margin-right: .5rem;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .tab--selected {
    color: $gray-200;
  }
}

.tabContent-container  {
  display: flex;
}
.tabContent { 
  @media #{$mq-md} {
    flex-direction: row;
    justify-content: flex-start;
  }
  opacity: 0;
  display: none;
  flex-direction: column;
  transition-duration: 1s ease-in-out;

  .line {
    position: relative;
    width: 100%;
    height: 2px;
    background: $gray-800;
    top: 8%;
    z-index: 0;
    &:last-of-type {
      background: linear-gradient(90deg, rgba(89,89,89,1) 0%, rgba(4,25,29,1) 100%);
    }
  }

  .dot {
    position: relative;
    z-index: 5;
    width: $dot-size;
    height: $dot-size;
    border: 0.06rem solid $gray-200;
    border-radius: calc(#{$dot-size} / 2);
    cursor: pointer;
    transition: background-color 300ms;
    background-color: $primary;
  
    &--selected {
      cursor: default;
    }
  
    &:hover {
      background-color: $gray-800;
    }
  }

  p {
    @extend %body;
    color: $gray-200;
    max-width: 200px;
    margin: 1rem 1rem 0 0;
  }
}
.activeTabContent { 
  opacity: 1;
  transition-duration: 1s;
  display: inline-block;
}