@import "src/styles/colors";
@import "src/styles/breakpoints";
@import "src/styles/typography";

:root {
  --header-height: 5.25rem;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  height: 30px;
  }

.menuItems {
  button {
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    &:hover, &:active {
      color: white;
    }
  }
}

.bg {
  &--expanded {
    display: flex;
    flex-direction: column;
    height: 4rem;
    width: 100vw;
  }
}

.subMenu {
  display: flex;
  align-items: baseline;
  // padding: 2rem;
  position: relative;
  margin: 0 auto;
  h4, p {
    color: white;
    font-size: 20px;
  }
}

.rightColumn {
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    a { 
      text-decoration: none;
    }

    a > p {
      transition: all .2s ease-in;
      &:hover {
        color: red;
      }
    }
}