@import "src/styles/colors";
@import "src/styles/breakpoints";
@import "src/styles/typography";


.menuToggle {
  background: transparent;
  padding: none;
  cursor: pointer;
  border: none;
  left: 0;
  top: 0;
  position: absolute;
  &:hover {
    background: $gray-900;
  }
}