@import "src/styles/colors";
@import "src/styles/breakpoints";
@import "src/styles/typography";


.menuToggle {
  background: transparent;
  padding: none;
  cursor: pointer;
  border: none;
  right: 0;
  top: 1rem;
  position: absolute;
  z-index: 500;
}