@import "src/styles/colors";
@import "src/styles/breakpoints";
@import "src/styles/typography";

:root {
  --header-height: 5.25rem;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;

  .header__logo {
    display: flex;
    text-decoration: none;
    @media #{$mq-md} {
      margin: 1.5rem 2.75rem;
    }
    margin: $margin-sm;
    img {
      width: 3rem;
      height: 3rem;
    }
    h4 {
      text-decoration: none;
      font-weight: 600;
      margin-left: .5rem;
      color: $black;
    }
  }

  .header-navigation-mobile {
    display: none;

    &--active {
      display: flex;

      @media #{$mq-lg} {
        display: none;
      }
    }

    flex-direction: column;
    align-content: center;
    justify-content: center;

    background-color: $black;
    position: fixed;
    margin-top: var(--header-height);
    left: 0;
    top: 0;
    height: calc(100% - var(--header-height));
    width: 100%;
    padding: 0 3rem 3rem;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-align: right;
    }

    &--menu {
      @extend %h1-reg;
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 2rem;
      }

      &:hover > ul {
        display: block;
      }

      ul {
        display: none;
      }

      li {
        @extend %h1-reg;
        margin-bottom: 0.5rem;

        &:first-child {
          margin-top: 0.5rem;
        }
      }

      a {
        color: $gray-700;
        text-decoration: none;
        white-space: nowrap;
      }

      .active {
        font-weight: 600;
        color: $primary;
      }
    }
  }

  .header-navigation {
    display: flex;
    // flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    padding-right: 1.5rem;
    width: 100%;
    color: $gray-900;

    &--big-screen {
      display: none;
      visibility: hidden;

      @media #{$mq-lg} {
        display: block;
        visibility: visible;
      }
    }

    &--hamburger {
      width: 2rem;
      height: 2rem;

      @media #{$mq-lg} {
        display: none;
      }
    }

    &--community {
      margin-left: auto;

      svg {
        color: $gray-900;
        width: 3rem;
        height: 3rem;
        padding: 0.5rem;
        margin-left: 0.5rem;
        border-radius: 0.25rem;

        &:hover {
          background-color: $gray-800;
        }
      }
    }

    &__menu {
      @media #{$mq-md} {
        display: flex;
      }
      @extend %body;
      font-weight: 600;
      display: none;
      list-style-type: none;
      margin: 0;
      padding: 0;
      gap: 2rem;

      li {
        padding: 0.5rem;
        cursor: pointer;
        position: relative;

        &:hover > ul {
          display: block;
        }
      }

      ul {
        display: none;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        gap: 0.5rem;

        left: 0;
        position: absolute;
        top: 100%;

        list-style-type: none;
        padding: 2rem;
        margin: 0;
        background-color: $gray-300;

        li {
          padding: 0;
          padding-bottom: 1rem;
          text-align: center;
          cursor: pointer;

          &:last-child {
            padding-bottom: 0;
          }
        }

        a {
          color: $black;
          text-decoration: none;
          white-space: nowrap;
        }

        .active {
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
  }
}
