@import "src/styles/colors";
@import "src/styles/breakpoints";
@import "src/styles/typography";

.navbar { 
  display: flex;
  justify-content: space-between;
  position: sticky;
  z-index: 500;
  width: 100vw;
  background: white;
  top: 0;

  &--left {
    display: flex;
    padding-left: 1rem;
  }

  .brand-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    img {
      width: 2rem;
      height: 2rem;
    }
    h4 {
      margin-left: .5rem;
    }
  }

  &__container {
    height: 4rem;
  }
  
  &__menu {
    list-style-type: none;
    @media #{$mq-md} {
      display: flex;
    }
    @extend %body;
    display: none;
    gap: 2rem;
    cursor: pointer;

    .menu-item {
      color: black;
      text-decoration: none;
      &:hover {
        color: blue;
      }
    }
  }
}

.submenu {
  margin-top: 10vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  h4, p {
    color: white;
  }

  &--section {
    display: flex;
    flex-direction: row;
    @media #{$mq-lg} {
      margin-left: 4rem;
    }
    margin-left: 2rem;
    align-items: flex-start;

    ul {
      display: flex;
      flex-direction: column;
      position: relative;
    }

    li {
      list-style-type: none;
    }

    a { 
      text-decoration: none;
    }

    h5 {
      font-size: 18px;
      color: $gray-700;
      font-weight: 400;
      margin-block-end: 0;
      margin-block-start: 0;
    }

    a > p {
      font-size: 24px;
      transition: all .25s ease-in;
      &:hover {
        color: $gray-800
      }
      margin-block-end: 8px ;
    }
  }
  .browse-all {
    @extend %body;
    font-size: 16px;
    text-align: right;
    position: absolute;
    right: 0;
    color: $gray-800;
    transition: all .25s ease-in;
      &:hover {
        color: $gray-300
    }
  }
}

.submenu--section__top {
  display: flex;
  justify-content: space-around;
  width: 100%;
  ul {
    width: 50%;
  }
}
.submenu--section__bottom {
  margin-top: 3vh;
  ul {
    @media #{$mq-md} {
      grid-template-columns: repeat(4, 1fr);
    }
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    li {
      margin: 0 1rem;
      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}

.bg {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: black;
}
