@import "src/styles/colors";
@import "src/styles/breakpoints";
@import "src/styles/typography";

.navbar { 
  display: flex;
  position: sticky;
  z-index: 500;
  background: white;
  top: 0;

  .brand-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    img {
      width: 2rem;
      height: 2rem;
    }
    h4 {
      margin-left: .5rem;
    }
  }

  &__container {
    height: 4rem;
  }
  
  &__menu {
    list-style-type: none;
    @media #{$mq-md} {
      display: flex;
    }
    @extend %body;
    display: none;
    gap: 2rem;
    cursor: pointer;

    .menu-item {
      color: black;
      &:hover {
        color: red;
      }
    }
  }
}

.submenu {
  @media #{$mq-lg} {
    
  }
  padding: 2rem;
  position: relative;
  display: flex;
  align-items: baseline;
  left: 0;
  h4, p {
    color: white;
  }

  &__right {
    @media #{$mq-lg} {
      margin-left: 4rem;
    }
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    li {
      list-style-type: none;
    }

    a { 
      text-decoration: none;
    }

    h5 {
      font-size: 18px;
      color: $gray-800;
      font-weight: 400;
      margin-block-end: 0;
      margin-block-start: 0;
    }

    a > p {
      font-size: 24px;
      transition: all .25s ease-in;
      &:hover {
        color: $gray-800
      }
      margin-block-end: 8px ;
    }
  }
}

.bg {
  position: absolute;
  top: 0; left: 0; 
  height: 100vh;
  width: 100vw;
  background: black;
}
